In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Within Temptation,Mother Earth,Birds and butterflies \r\nRivers and mountain...
1,Grease,Mooning,"I spend my days just mooning, so sad and blue,..."
2,Glee,Hopelessly Devoted To You,"Guess mine is not the first heart broken, \r\..."
3,Joni Mitchell,Down To You,Everything comes and goes \r\nMarked by lover...
4,Linkin Park,A Light That Never Comes,"Nah, you don't know me \r\nLightning above an..."
5,Tragically Hip,Bobcaygeon,"I left your house this morning, \r\n'Bout a q..."
6,Patsy Cline,She's Got You,I've got your picture \r\nThat you gave to me...
7,Bread,Fancy Dancer,Watchin' you move across the floor \r\nYou're...
8,Blur,Strange News From Another Star,All I want to be is washed out by the sea \r\...
9,Deep Purple,Not Responsible,Found some money in an old black jacket \r\nI...

In [9]:
df['text'][0]

"Birds and butterflies  \r\nRivers and mountains she creates  \r\nBut you'll never know  \r\nThe next move she'll make  \r\nYou can try  \r\nBut it is useless to ask why  \r\nCannot control her  \r\nShe goes her own way  \r\n  \r\nShe rules until the end of time  \r\nShe gives and she takes  \r\nShe rules until the end of time  \r\nShe goes her own way  \r\n  \r\nWith every breath  \r\nAnd all the choices that we make  \r\nWe are only passing through on her way  \r\nI find my strength  \r\nBelieving that your soul lives on  \r\nUntil the end of time  \r\nI'll carry it with me  \r\n  \r\nOnce you will know my dear  \r\nYou don't have to fear  \r\nA new beginning always starts at the end  \r\nUntil the end of time  \r\nShe goes her own way\r\n\r\n"

In [10]:
df.shape

(5000, 3)

In [11]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [12]:
pip install nltk

Requirement already satisfied: nltk in /opt/homebrew/Cellar/jupyterlab/4.1.0/libexec/lib/python3.12/site-packages (3.8.1)
Requirement already satisfied: click in /opt/homebrew/opt/python-click/lib/python3.12/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /opt/homebrew/Cellar/jupyterlab/4.1.0/libexec/lib/python3.12/site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /opt/homebrew/Cellar/jupyterlab/4.1.0/libexec/lib/python3.12/site-packages (from nltk) (2023.12.25)
Requirement already satisfied: tqdm in /opt/homebrew/Cellar/jupyterlab/4.1.0/libexec/lib/python3.12/site-packages (from nltk) (4.66.2)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.1.0/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [13]:
import nltk
#nltk.download("Stemmer")
from nltk.stem import PorterStemmer
nltk.download('punkt')
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/sujaljadhav/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [14]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [17]:
similarity[0]

array([1.        , 0.04588247, 0.02253768, ..., 0.        , 0.03015543,
       0.05495156])

In [18]:
df[df['song'] == 'Crying Over You']

,artist,song,text
644,UB40,Crying Over You,cri over you in the morn cri over you in the e...
1935,ABBA,Crying Over You,i 'm waitin ' for you babi i 'm sit all alon i...

In [19]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [20]:
recommendation('Crying Over You')

['Cry Cry Cry',
 "Don't Cry Now",
 'Cry Me A River',
 'Cry Baby',
 'Cry',
 'Cry Me A River',
 "It's All Over But The Crying",
 'I Cried For You',
 'Pretty When You Cry',
 'Fly Away',
 'Crying In The Rain',
 'Cry Clock Said',
 'I Went To Your Wedding',
 'Irvine',
 'Stop Crying Your Heart Out',
 'I Need Someone To Hold Me (When I Cry)',
 "I've Got A Right To Cry",
 'Spread A Little Happiness',
 "Cryin' Time",
 'Sonny Cried']

In [21]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))